* {
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
  background-color: #eeeeee;
}

.top {
  top: 0;
  left: 0;
  position: fixed;

  z-index: 1;
  
  width: 100%;
  height: 92px;

  background-color: #d03d33;
  padding: 15px 0 0 5%;
  box-sizing: border-box;
}

.logo p{
  font-size: 18px;
  color: #ffffff;
}

h1{
  font-family: 'Righteous', cursive;

  font-size: 44px;
  color: #ffffff;
}

h2{
  font-family: 'Righteous', cursive;

  font-size: 26px;
  color: #333333;
  padding-left: 5%;
  box-sizing: border-box;
  margin-bottom: 17px;
  position: sticky;
  top: 0;
  left: 0;
}

.content{
  margin: 123px 0 108px;
  width: 100%;

}

.categoria{
  margin-top: 30px;
  overflow-x: auto;
}

.options{
  width: fit-content;
  display: flex;
}

.option{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-left: 17px;

  width: 172px;
  height: 216px;

  background-color: #ffffff;
  border-radius: 9px;
  padding: 18px 0 13px;
  position: relative;
}

.option h3{
  font-size: 16px;
  font-weight: 700;
  text-align: left;
  width: 144px;
}

.descricao{
  font-size: 15px;
  font-weight: 300;
  color: #a6a6a6;
  text-align: left;
  width: 144px;
}

.preco{
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  width: 144px;
}

.bottom{
  bottom: 0;
  left: 0;
  position: fixed;

  z-index: 1;
  width: 100%;
  height: 92px;
  background-color: #ffffff;

  display: flex;
  justify-content: center;
  align-items: center;
}

.confirm button{
  width: 364px;
  height: 61px;

  background-color: #cbcbcb;
  border: none;
  border-radius: 50px;

  font-size: 20px;
  color: #ffffff;
}

.icon{
  width: 16px;
  color: #32B72F;
  position: absolute;
  right: 13px;
  bottom: 16px;
}

.border{
  box-shadow: inset 0 0 0 5px #32B72F;
}

.hidden{
  display: none;
}